@import "~materialize-css/dist/css/materialize.min.css";


input.yellow-input {
  border-bottom: 1px solid #fff!important;
  box-shadow: 0 1px 0 0 rgb(48, 44, 44)!important;
}

input.yellow-input + label {
  color: #1f1d1d!important;
}

input.yellow-input:focus + label {
  color: #11034b!important;
}

input.yellow-input:focus {
  border-bottom: 1px solid #11034b!important;
  box-shadow: 0 1px 0 0 #11034b!important;
}
